#form-container  {
	max-width: 1300px;
    min-height: 20px;
    padding: 10px;
    margin: 0px auto;
}

#form-container  a, .btn, #search, #car, .reservation-btn{
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

#form-container #steps {
	margin-bottom: 30px;}


#form-container #steps a{
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #bdb9b9;
	text-decoration: none;
}

#form-container #steps h1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #bdb9b9;
	text-decoration: none;
}

@media (min-width: 0px){ 
	#form-container #steps #desktop {
		display: none;
	}
	
	#form-container #steps #mobile {
		display: inherit;
	}
	
	#form-container form #back_btn .btn{
		display: block;
		width: 100%;
	}
	
	#form-container form #buttons .btn{
		display: block;
		width: 100%;
	}
	
	#form-container #success a{
		display: block;
		width: 100%;
	}
	
	#form-container #filter form .form-control{
		padding: 5px 5px;
	}
	
	#form-container #filter form .custom-select{
		background: #fff url("form-image/form-dropdown.svg") no-repeat right 10px center;
		background-size: 25px 13px;
	}
	
	#form-container #filter-result #car-container{
		max-width: 700px;
		margin: 0px;
	}
}

@media (min-width: 768px){ 
	#form-container #steps #desktop {
		display: inherit;
	}
	
	#form-container #steps #mobile {
		display: none;
	}
	
	#form-container form #buttons .btn{
		display: inline-block;
		width: auto;
	}
	
	#form-container form #back_btn .btn{
		display: inline-block;
		width: auto;
	}
	
	#form-container #success a{
		display: inline-block;
		width: auto;
	}
	
	#form-container #filter .form-control{
		padding: 5px 20px!important;
	}
	
	#form-container #filter form .custom-select{
		background: #fff url("form-image/form-dropdown.svg") no-repeat right 20px center;
		background-size: 25px 13px;
	}
	
	#form-container #filter-result #car-container{
		max-width: 260px;
		margin: 0px 25px;
	}

	#form-container #reservation .form-control{
		margin: -19px 0px;
	}
}

#form-container #steps #desktop h1{
	display: inline-block;
	width: 23%;
	padding: 0px 2px 5px 2px;
	margin: 10px;
	color: #bdb9b9;
	border-bottom: 2px solid #bdb9b9;
}

#form-container #steps #desktop #active {
	color: #dd0000;
	border-bottom: 2px solid #c31e21;
}

#form-container #steps #mobile h1{
	display: inline-block;
	padding: 0px 12px 0px 12px;
	margin: 0px;
	margin-top: 10px;
	color: #dd0000;
}

#form-container #steps #mobile #active {
	color: #c31e21;
}

#form-container #steps #mobile #pagination {
	margin: 0px 5px;
}

#form-container #steps #mobile #pagination hr {
	display: inline-block;
	width: 22.7%;
	height: 2px;
	padding: 0px;
	margin: 5px 2px;	
	background-color: #bdb9b9;
}

#form-container #steps #mobile #pagination #active {
	background-color: #c31e21;
}

#form-container #form{
	max-width: 980px;
	margin: 0px auto;
	margin-bottom: 10px;
	padding: 0px 10px;
	clear: both;
}

#form-container form .form-group{
	margin-bottom: 0px;
}

#form-container form .form-control{
	margin-bottom: 25px;
	border: 0px;
	border-radius: 0px;
	border: 1px #bdb9b9 solid;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0);
	padding: 5px 20px;
	min-height: 50px;
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #bdb9b9;
}

#form-container form #buttons{
	text-align: center;
}

#form-container form #buttons .btn{
	background-color: #dd0000;
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 0px;
}

#form-container form #back_btn{
	text-align: right;
	padding: 10px 0px; 
}

#form-container form #back_btn .btn:hover{
	background-color: #dd0000;
	color: #ffffff;
}

#form-container form #back_btn .btn{
	background-color: #ffffff;
	font-family: Roboto;
	font-weight: 500;
	font-size: 10px;
	line-height: 14px;
	color: #dd0000;
	padding: 5px 10px;
	border-radius: 0px;
	border: 1px solid #dd0000;
}

#form-container form #buttons .btn:hover{
	background-color: #ab090c;
}

#form-container form .custom-select{
	background: #fff url("form-image/form-dropdown.svg") no-repeat right 20px center;
	background-size: 25px 13px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

#form-container form .date-picker-custom{
	margin-bottom: 25px;
	border: 0px;
	border-radius: 0px;
	border: 1px #bdb9b9 solid;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0);
	padding: 5px 20px;
	min-height: 50px;
	font-family: Lato;
	font-weight: 400;
	font-size: 11px;
	line-height: 18px;
	color: #676767;
	background: #fff url("form-image/form-date.svg") no-repeat right 20px center;
	background-size: 20px 20px;
	width: 100%;
}

#form-container form table{
	border: 0px;
}

#form-container form td{
	font-family: Roboto;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: #7c7575;
	padding-right: 20px;
	padding-bottom: 30px;
	vertical-align: top;
}

#form-container form table #title{
	width: 50%;
	max-width: 300px;
}

#form-container form #fare h1{
	display: inline-block;	
	font-family: Roboto;
	font-weight: 700;
	font-size: 40px;
	line-height: 44px;
	color: #dd0000;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

#form-container form #fare h2{
	display: inline-block;	
	font-family: Roboto;
	font-weight: 700;
	font-size: 35px;
	line-height: 39px;
	color: #dd0000;
	padding: 0px;
	margin: 0px;
	margin-bottom: 30px;
}

#form-container #success{
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px 0px;
}

#form-container #success h1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 40px;
	line-height: 44px;
	color: #dd0000;
	padding: 0px;
	margin: 0px;
	margin-bottom: 40px;
}

#form-container #success a{
	background-color: #dd0000;
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 0px;
	text-decoration: none;
}

#form-container #success a:hover{
	background-color: #ab090c;
}

#form-container #filter{
	max-width: 580px;
	margin: 0 auto;
}

/* #form-container #form #filter .col-xs-5, .col-xs-2{
	padding: 5px;
} */


#form-container #filter #search{
	background-color: #dd0000;
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	padding: 14px 20px;
	border-radius: 0px;
	border: 0px;
	width: 100%;
}

#form-container #filter #search:hover{
	background-color: #ab090c;
}

#form-container #filter-result{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0px 10px;
	clear: both;
	text-align: center;
}

#form-container #filter-result #car-container{
	display: inline-block;
	width: 100%;
	min-height: 20px;
	margin-bottom: 20px;
	text-align: center;
}

#form-container #filter-result #car-container img{
	max-width: 100%;
}

#form-container #filter-result #car-container #car-button{
	margin-bottom: 10px;
}

#form-container #filter-result #car-container h1{
	font-family: Roboto;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #bdb9b9;
	text-decoration: none;

}

#form-container #filter-result #car-container #car{
	border: 1px solid #dd0000 !important;
	background-color: rgba(255,255,255,0);
	color: #dd0000;
	padding: 10px;
	border-radius: 0px;
	border: 0px;
	width: 100%;
}

#form-container #filter-result #car-container #car:hover{
	border: 1px solid #dd0000 !important;
	background-color: #dd0000;
	padding: 10px;
	color: #ffffff;
	border-radius: 0px;
	border: 0px;
	width: 100%;
}

#form-container #filter-result #car-container #car h2{
	display: inline-block;
	font-family: Roboto;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
	float: left;
	text-align: left;
	width: 100px;
}

#form-container #filter-result #car-container #car h3{
	display: inline-block;
	font-family: Roboto;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
	width: 135px;
	text-align: right;
	float: right;
}

#form-container #reservation {
	padding: 12px;
	margin: 0px -5px;
}

#form-container #reservation #field-submit .reservation-btn{
	width: 100%;
	background-color: #dd0000;
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	padding: 10px 20px;
	border: 0px;
	border-radius: 0px;
}

#form-container #reservation #field-submit .reservation-btn:hover{
	background-color: #ab090c;
}

#form-container #reservation .form-control{
	padding: 5px 10px;
	min-height: 50px;
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #bdb9b9;
}

#form-container #reservation .custom-select{
	padding: 5px 10px !important;
	min-height: 50px;
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #bdb9b9;
	background: #fff url("form-image/form-dropdown.svg") no-repeat right 10px center;
	background-size: 25px 13px;
}

#form-container #reservation .date-picker-custom{
	padding: 5px 10px !important;
	background: #fff url("form-image/form-date.svg") no-repeat right 10px center;
	background-size: 20px 20px;
}

#form-container #reservation #success{
	text-align: center;
	max-width: 1200px !important;
	margin: 0 auto;
	padding: 10px !important;
}

#form-container #reservation #success h1{
	font-family: Roboto;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #dd0000;
	padding: 0px;
	margin: 0px;
}

@media (min-width: 0px){ 
	#form-container #reservation #field{
		display: block;
		max-width: 100%;
		margin: 0px;
	}

	#form-container #reservation #field-submit{
		display: block;
		max-width: 100%;
		margin: 0px;
	}
}

@media (min-width: 768px){ 
	#form-container #reservation #field{
		display: inline-block;
		width: 12.5%;
		margin: 0px 5px;
	}

	#form-container #reservation #field-submit{
		display: inline-block;
		width: 100%;
		margin: 10px 5px;
	}
}

@media (min-width: 1232px){ 
	#form-container #reservation #field{
		display: inline-block;
		width: 10.5%;
		margin: 0px 5px;
	}

	#form-container #reservation #field-submit{
		display: inline-block;
		width: 225px;
		margin: 0px 5px;
	} 
}