<link href="http://www.jasny.net/bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet"/>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>





<style>

</style>


<div class="container-fluid">

    <!-- Static navbar -->
    <div class="navbar  navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-offcanvas navmenu-fixed-left offcanvas">
            <a class="navmenu-brand" href="#">Project name</a>
            <ul class="nav navbar-nav">
                <li><a href="../navmenu/">Slide in</a></li>
                <li><a href="../navmenu-push/">Push</a></li>
                <li><a href="../navmenu-reveal">Reveal</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!--testing drop down wit fontawesome-->

<style>
    .select {
        border: 1px solid #ccc;
        overflow: hidden;
        height: 40px;
        width: 240px;
        position: relative;
        display: block;
    }

    select{
        height: 40px;
        padding: 5px;
        border: 0;
        font-size: 16px;
        width: 240px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #fff url("form-dropdown.svg") no-repeat right 10px center;
        background-size: 25px 13px;

    }
    .select:after {
        background-repeat:no-repeat;
        color: #000;
        padding: 12px 8px;
        position: absolute; right: 0; top: 0;
        z-index: 1;
        text-align: center;
        width: 10%;
        height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        font-size:1em;
    }
</style>
<img src="form-dropdown.svg">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
<label class="select">
    <select name="email" id="email">
        <option>aaaa1</option>
        <option>aaaa2</option>
        <option>aaaa3</option>
        <option>aaaa4</option>
        <option>aaaa5</option>
        <option>aaaa6</option>
    </select>
</label>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://www.jasny.net/bootstrap/dist/js/jasny-bootstrap.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>